 <nav class="navbar navbar-dark bg-dark navbar-expand-md">
      <div class="container">
      
        <button
          type="button"
          class="navbar-toggler"
          data-toggle="collapse"
          data-target="#menu-principal"
          aria-controls="menu-principal"
          aria-expanded="false"
          aria-label="Desplegar menú de navegación">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="menu-principal">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Inicio</a>
            </li>
                <li class="nav-item">
              <a href="/chat" class="nav-link ">Mensajes</a>
            </li>
        </div>
        <li class="nav-item dropdown">
        <a class="nav-item  dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/agregar">Agregar Productos</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
       
      </div>

      <div  id="user"  class="text-white m-3"></div>
      <div id="btnLogout"  class="text-white m-3"></div>

      <img src="./img/cart.svg"className="cart" alt="cart" />
    </nav>


 